:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  /* font-weight: 400; */

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem 2rem;
  background-color: #A6C5DB;
}

.journal-entry {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  max-width: 1000px;
  justify-self: center;
}
.journal-entry-location {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.journal-entry-icon {
  width: 20px;
}
.journal-entry-map-link {
  color: #555;
  text-decoration: underline;
  cursor: pointer;
}
.journal-entry-date {
  font-size: 0.9rem;
  color: #888;
  margin-top: 0.5rem;
}
.journal-entry-image {
    width: 350px;
    height: 250px;
    overflow: hidden; 
    border-radius: 5px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}